<header>
    <div class="container">
        <div class="header-content">
            <a href="/">Melissa Buarque</a>

            <input type="checkbox" id="menu-toggle" class="menu-toggle">
            <label for="menu-toggle" class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </label>

            <nav>
                <a href="/">Sobre</a>
                <a href="conteudos.html">Conteúdos</a>
                <a href="#footer">Contato</a>
            </nav>
        </div>
    </div>
</header>